<div id="header">
  @Html.ActionLink("Home", "Index", "Home") | 
  @Html.ActionLink("Log In", "Login", "Account") | 
  @Html.ActionLink("Register", "Index", "Account") |
  @Html.ActionLink("All Flavors", "Index", "Flavors") |
  @Html.ActionLink("All Treats", "Index", "Treats") |
</div>